@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

:root {
  --backgroundColor: #f5f5f5;
  --colorHover: #777;
  --z-tooltip: 10;
}

* {
  font-family: "Roboto", sans-serif;
}

body {
  background-color: var(--backgroundColor);
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/*HEADER START*/
.nav {
  padding-top: 40px;
  padding-bottom: 30px;
  display: grid;
  grid-template-columns: 150px 1fr 150px;
  grid-template-rows: 100px;
  justify-items: center;
  align-items: center;
}

.nav__img {
  width: 100px;
}

.nav__items {
  display: flex;
  width: 85%;
  justify-content: space-evenly;
  padding-left: 0;
}

.nav__item {
  list-style: none;
}

.nav__link {
  text-decoration: none;
  color: #000;
  padding: 10px 20px;
}

.nav__link:hover {
  color: var(--colorHover);
}

.cta {
  padding: 10px 15px;
  border: none;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  transition: color, backgroud-color, 0.5s;
}

.cta:hover {
  background-color: #69f1a1;
  color: #000;
}

.nav__menu{
  display: none;
}
/*HEADER END*/

/*PORTADA START*/
main {
  height: calc(100vh + 500px);
}

.cover {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  margin-top: 30px;
}

.cover__title {
  font-size: 50px;
}

.cover__paragraph {
  font-size: 18px;
  margin-top: 30px;
}

.cover__video {
  max-width: 90%;
}

.cover__buttons {
  display: flex;
  margin-top: 30px;
}

.cover__read-more {
  background-color: #fff;
  color: #000;
  margin-left: 20px;
}
/*PORTADA END*/

/* BANNER START*/
.banner {
  display: flex;
  align-items: center;
  background-color: #121212;
  position: relative;
  margin-top: 30px;
  height: 200px;
}

.banner__icon-heart,
.banner__icon-fire {
  width: 270px;
}

.banner__icon-heart {
  filter: drop-shadow(-40px 0 30px rgba(0, 0, 0, 0.5));
  position: relative;
  margin-top: 50px;
}

.banner__text {
  color: #fff;
}

.banner__paragraph {
  margin-bottom: 20px;
}

.banner__read-more {
  text-decoration: none;
  background-color: #121212;
}

.banner__read-more:hover {
  color: #69f1a1;
  background-color: #121212;
}

.banner__fire {
  height: 100%;
  overflow: hidden;
}

.banner__icon-fire {
  position: relative;
  margin-top: -50px;
  margin-right: 300px;
  opacity: .7;
}

/* BANNER END*/
@media (max-width: 880px) {
  .nav {
    display: flex;
    justify-content: space-between;
  }
  .nav__menu{
    display: block;
    cursor: pointer;
  }

  .nav__register{
    display: none;
  }

  .nav__items{
    flex-direction: column;
    background-color: #fff;
    position: absolute;
    top: 100px;
    right: 40px;
    width: auto;
    z-index: var(--z-tooltip);
  }

  .nav__item{
    padding: 10px 40px;
  }

  .menu{
    height: 0;
    overflow: hidden;
    transition: height .3s;
  }

  .show-menu{
    height: 200px;
  }

  .cover__title{
    font-size: 40px;
  }

  .cover__paragraph{
    font-size: 16px;
  }

  .banner{
    height: 150px;
  }

  .banner__icon-heart,
  .banner__icon-fire {
    width: 200px;
  }

  .banner__icon-fire{
    margin-right: 50px;
  }
}

@media (max-width: 830px){
  .cover {
    grid-template-columns: 1fr;
  }

  .cover__media{
    display: none;
  }
  .banner__fire {
    display: none;
  }
}

@media (max-width: 500px){
  .banner {
    height: auto;
    flex-wrap: wrap;
    padding: 10px;
  }

  .banner__heart{
    width: 100%;
    text-align: center;
  }

  .banner__icon-heart {
    margin-top: 10px;
}

  .banner__text{
    width: 100%;
  }

  .banner__read-more{
    padding: 10px 0;
  }
}